@font-face {
  font-family: Mija_Bold;
  src: url("/fonts/Mija_Bold.woff2") format("woff2"),
    url("/fonts/Mija_Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Mija_Regular;
  src: url("/fonts/Mija_Regular.woff2") format("woff2"),
    url("/fonts/Mija_Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  font-family: "Mija_Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Mija_Bold", sans-serif;
}
